body {
    margin: 0;
    background-color: #000000;
  }
.container {
    padding: 5px ;
    display: flex;
    justify-content: center;
    background-color: #000000;
}
#navbarMenu {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.navbar-toggler {
    justify-content: center;
    align-items: center;  
}
.navbar {
    justify-content: center;
    align-items: center;
    display: flex;
}
.navbar-nav {
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 20px;
}
.nav-item {
    font-size: 20px;
    color:rgb(255, 255, 255) ;
    font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
    padding: 0px;  
}

.nav-item{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 0px;
}
.nav-link:hover {
    border-bottom: 1px solid rgb(194, 191, 28);;
    color: rgb(194, 191, 28); 
}
/* ---- reset ---- */
canvas {
    display: block;
}
/* ---- particles.js container ---- */
#particlesContainer {
    background-color: #000000;
    height: 400px;
}
.navbar-toggler-icon {
    background-color: rgb(240, 235, 235);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30%;
}
.active {
    background-color: rgb(194, 191, 28);
    border-radius: 5px;
    border-bottom: 1px solid rgb(194, 191, 28);
    padding: 0px;
}
/* footer */

.text-center .p-3 {
    background-color: rgba(0, 0, 0, 0.2)
}
.mask {
    background-color: rgba(0, 0, 0, 0.2);
}
.text-center {
    background-color: rgba(0, 0, 0, 0.2);
}
.text-white {
    text-decoration: none;
}
.bg-image { 
    transition: 0.5s; 
}
.bg-image:hover { 
    transform: scale(1.3); 
}
#linkedin {
    width: 15px;
    margin-left: 5px;
}
